@model VaciblikUpdateDTO

@{
    ViewData["Title"] = "VaciblikYenile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="VaciblikYenile"  asp-controller="Vaciblik" class="w-75 mx-auto  p-3" method="post">
    <input  type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Ifade">Ifadə:</label>
        <span asp-validation-for="Ifade" class="text-danger"></span>
        <input type="text" asp-for="Ifade" class="form-control" />

    </div>
    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-check mr-2"></i>Daxil et</button>

</form>

@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}