@model List<AppUserListDTO>
@{
    ViewData["Title"] = "Isciler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class=" mt-2 row">
 
    <div class="col-md-12">

        @foreach (var item in Model)
        {
            <div class="card border border-primary mb-3 p-2">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/img/@item.Picture" class="card-img img-thumbnail  shadow" style="height:10rem!important" alt="@item.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name @item.Surname</h5>
                            <p class="card-text">

                                <getirGorevAppUserId app-user-id="item.Id"></getirGorevAppUserId>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">@item.Email</small>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
 
    </div>



</div>

