
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}


<div class="row">
    <div class="col-md-4 mt-5">
        <img src="~/img/Close-icon.png" class="w-100 img-fluid"/>

    </div>
    <div class="col-md-8 display-4">
        <p class="lead text-danger">Bir xeta bas verdi. Tez bir zamanda aradan qaldirilacaq!!!</p>
 
    </div>
</div>
