
@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}
<div>
    <div class="col-md-4 mt-5"></div>
    <div class="col-md-8 display-4">
        @ViewBag.code
        <br />

        @ViewBag.Message
    </div>
</div>

