@model IsAddDTO

@{
    ViewData["Title"] = "IsYarat";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="IsYarat" method="post" class="w-75 mx-auto p-3">
 
        <div  class="form-group ">

            <label>Ad elave edin:</label>
            <span asp-validation-for="Ad" class="text-danger"></span>
            <input class="form-control" type="text" asp-for="Ad" />
        </div>
        <div class="form-group">

            <label>Açıqlama elave edin:</label>
            <span asp-validation-for="Aciklama" class="text-danger"></span>
            <textarea  class="form-control" asp-for="Aciklama"></textarea>
        </div>
        <div class="form-group">

            <label> Vaciblik derecesi secin:</label>
            <span asp-validation-for="VaciblikId" class="text-danger"></span>
            <select asp-for="VaciblikId" class="form-control" asp-items="ViewBag.Vacikliks">
                <option value="-1">Seçin</option>

            </select>

        </div>
  
    <button type="submit" class="btn btn-info btn-sm"> Elave et</button>

</form>

@section JavaScript{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}
